<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/detail.css" />
    <script type="text/javascript">

        function addFocus(id) {
            location.href = '/user/addFocus/' + id
            alert("已关注成功，查看关注列表~")

        }

        /* 前往支付 */
        function toPay(id) {
            window.location.href = '/goods/buyId/' + id
        }

    </script>


<body ng-view="ng-view">

<!--显示商品详情-->
<div ng-controller="detailBoxController" class="detail-box stark-components z-depth-1 row ng-scope">
    <div class="col s12 path">
        <a  th:href="@{/goods/catelog/{id}(id=${catelog.id})}" th:text="${catelog.name}"></a>
        <em>></em>
        <!--/*@thymesVar id="goods" type="java.lang.String"*/-->
        <a th:text="${goods.name}"></a>
    </div>
    <div class="col s6">
        <div class="slider" style="height: 440px;">
            <ul class="slides" style="height: 400px;">
                <img th:src="@{/upload/{imgUrl}(imgUrl=${img.imgUrl})}"/>
            </ul>
            <ul class="indicators">
                <li class="indicator-item"></li>
                <li class="indicator-item"></li>
                <li class="indicator-item"></li>
                <li class="indicator-item"></li>
            </ul>
        </div>
    </div>
    <div class="col s6">
        <h1 class="item-name" th:text="${goods.name}"></h1>
        <h2 class="item-price" th:text="${goods.price}"></h2>
        <h2 class="publisher-info-title">原价：<span style="text-decoration:line-through;"
                                                  th:text="${goods.realPrice}"></span></h2>
        <div class="item-public-info">
            <p class="bargain">可讲价</p>
            <p>
                <i class="iconfont"></i>
                <em class="item-location">宿州学院</em>
            </p>
        </div>
        <div class="publisher-info-title">
            <em>卖家信息</em>
            <hr>
        </div>
        <div class="item-contact" th:if="${session.cur_user == null}">
            <p class="not-login">
                <a onclick="showLogin()">登录</a>
                <em>或</em>
                <a onclick="showSignup()">注册</a>
                <em>后查看联系信息</em>
            </p>
        </div>
        <div class="item-contact" th:if="cur_user != null">
            <div>
                <div class="base-blue z-depth-1 attr">
                    <i class="iconfont"></i>
                </div>
                <div class="value" th:text="${seller.username}"></div>
            </div>
            <div>
                <div class="base-blue z-depth-1 attr">
                    <i class="iconfont"></i>
                </div>
                <div class="value" th:text="${seller.phone}"></div>
            </div>
            <div>
                <div class="base-blue z-depth-1 attr">
                    <i class="iconfont"></i>
                </div>
                <div class="value" th:text="${seller.qq}" th:if="${seller.qq !=null}"></div>
                <div class="value" th:if="${seller.qq == null}">该同学没留下QQ</div>
            </div>
            <div>

                <input type="button" value="加入关注" class="blue lighten-1 waves-effect waves-light btn" id="btn_cart"
                       onclick="addFocus(${goodsExtend.goods.id})"></input>
                <c:if test="${cur_user.id==goodsExtend.goods.userId}">
                    <input type="button" value="在线支付" data-toggle="tooltip" title="不可以购买自己的东西哦~" disabled="disabled"
                           class="blue lighten-1 waves-effect waves-light btn" id="btn_buy"></input>
                </c:if>
                <c:if test="${cur_user.id!=goodsExtend.goods.userId}">
                    <input type="button" value="在线支付" class="blue lighten-1 waves-effect waves-light btn" id="btn_buy"
                           onclick="toPay(${goodsExtend.goods.id})"></input>
                </c:if>
            </div>

        </div>

        <h1 class="item-pub-time">发布于<span th:text="${goods.startTime}"></span></h1>
    </div>
</div>
<div class="detail-box stark-components z-depth-1 row">
    <h1 class="title">商品描述</h1>
    <hr class="hr1"/>
    <hr class="hr2"/>
    <p class="section">描述：<span th:text="${goods.describle}"></span></p>
    <p class="section"></p>
    <p class="section">
        联系我的时候，请说明是在“宿院短租平台”上看见的哦~
    </p>
</div>
<div class="row detail-area">
    <div class="clo s12">
        <div ng-controller="commentController" class="comment stark-components z-depth-1 ng-scope">
            <h1 class="title">评论</h1>
            <hr class="hr1"/>
            <hr class="hr2"/>
            <c:forEach var="item" items="${CommentExtend.comments}">
                <div class="comment-collection">
                    <div class="comment-item ng-scope">
                        <div class="comment-main-content">
                            <em class="name ng-binding">${item.user.username}:</em>
                            <em class="ng-hide">回复</em>
                            <em class="name ng-binding ng-hide">@:</em>
                            <em class="ng-binding">${item.content}</em>
                        </div>
                        <div class="comment-function">
                            <em class="time ng-biinding">${item.createAt}</em>

                            <!--  <a class="reply-or-delete">删除</a>
                             <a class="reply-or-delete">回复</a> -->
                        </div>
                    </div>
                </div>
            </c:forEach>
            <form id="addCommentForm" class="form-horizontal">
                <div class="comment-add row">
                    <div class="input-field col s12">
                        <i class="iconfont prefix"></i>
                        <input id="goodsId" name="goods.id" value="${goodsExtend.goods.id}" type="hidden"/>
                        <input id="commentbox" type="text" name="content"
                               class="validate ng-pristine ng-untouched ng-valid ng-empty"/>
                        <label for="commentbox">这里写下评论</label>
                        <c:if test="${!empty cur_user}">
                            <button type="button" class="waves-effect wave-light btn comment-submit"
                                    onclick="addComments()">确认
                            </button>
                        </c:if>
                        <%--
                        <c:if test="${!empty cur_user} && ${cur_user.id!=goodsExtend.comments.userId}">
                            <button type="submit" class="waves-effect wave-light btn comment-submit">确认</button>
                        </c:if>
                        <c:if test="${!empty cur_user} && ${cur_user.id==goodsExtend.comments.userId}">
                            <button data-toggle="tooltip" title="您已经评论过了哦！" disabled="disabled"
                                    class="waves-effect wave-light btn comment-submit">确认
                            </button>
                        </c:if>
                        --%>
                        <c:if test="${empty cur_user}">
                            <button href="javacript:void(0);" data-toggle="tooltip" title="您需要先登录哦！" disabled="disabled"
                                    class="waves-effect wave-light btn comment-submit">确认
                            </button>
                        </c:if>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    /* 评论 */
    function addComments() {
        $.ajax({
            url: '/goods/addComments',
            type: 'POST',
            data: $('#addCommentForm').serialize(),// 序列化表单值
            dataType: 'json',
            /* 	success:function(json){
                    alert(1)
                    alert(json.msg)
                },
                error:function(){
                    alert('请求超时或系统出错!');
                } */
        });
        alert("您已评论成功~")
        window.location.reload();
    }
</script>
</html>