<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>403</title>
</head>
<body>
    <!-- 引入头部和左边栏 -->
    <div th:include="/admin/main_top"></div>
    <div th:include="/admin/main_left"></div>

    <!--main-container-part-->
    <div id="content" style="margin-right: 100px;margin-top: 40px;">
        <h2>403 该页面不可访问</h2>
        <a href="/admin/index">返回主页</a>
    </div>

    <div th:include="/admin/main_bottom"></div>
</body>
</html>