<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<!-- 引入头部和左边栏 -->
	<div th:include="/admin/main_top"></div>
	<div th:include="/admin/main_left"></div>
	<!--=============================================================================================================================================================================-->
	<!--main-container-part-->
	<div id="content" style="margin-right: 100px;margin-top: 40px;">
		<!--breadcrumbs-->
		<div id="content-header">
			<div id="breadcrumb">
				<a title="主页" class="tip-bottom" href="/admin/indexs"><i class="icon-home"></i>主页</a>
			</div>
		</div>
		<!--End-breadcrumbs-->

		<!-- 主要内容 -->
		<div class="container-fluid">
			<div class="quick-actions_homepage">
				<ul class="quick-actions">
					<li class="bg_lb">
						<a href="/admin/userList?pageNum=1"> <i class="icon-group"></i>用户管理</a>
					</li>
					<li class="bg_lg span3">
						<a href="/admin/goodsList?pageNum=1"> <i class="icon-signal"></i>商品管理</a>
					</li>
					<!--
					<li class="bg_lo">
						<a href="/admin/ordersList?pageNum=1"> <i class="icon-th"></i>订单管理</a>
					</li>
					<li class="bg_ly">
						<a href="/admin/purseList?pageNum=1"><i class="icon-inbox"></i>钱包管理</a>
					</li>
					<li class="bg_ls"><a href=""> <i class="icon-fullscreen"></i>系统设置
					</a></li>
                    -->
				</ul>
			</div>
		</div>
	</div>

	<!--==================================================================================================================-->
	<div th:include="/admin/main_bottom"></div>

</body>
</html>
